*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.nav-links{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-link{
    list-style-type: none;
}

.nav-link a{
    text-decoration: none;
    color: rgb(10, 32, 16);
    font-size: 25px;
}

.button3 a{
    text-decoration: none;
    color: white;
}
.button3{
    background-color: transparent;
    background-repeat: no-repeat;
    border: 5px seagreen solid;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bolder;
}
.button2 a{
    text-decoration: none;
    color: white;
}
.button2{
    background-color: transparent;
    background-repeat: no-repeat;
    border: 5px seagreen solid;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bolder;
}

#diff{
    background-color: seagreen;
}
.welcome{
    text-align: center;
    margin: auto auto;
    width: 50%;
    font-size: 2.5rem;
    color: black;
    position: relative;
    z-index: 2;
}

main{
    position: relative; 
    margin: 0;
    height: 670px;
    background-image: url('images/heroimage.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    
} 
main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(154, 210, 156, 0.184); 
    z-index: 1;
}

.destinations{
    margin: 40px 30px;
    text-align: center;
}

.destinations h1{
    font-size: 35px;
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    justify-items: center;
    margin-bottom: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.item img {
    width: 350px;
    max-width: 350px;
    height: 250px;
    object-fit: cover;
}

.item h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.seemore{
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: seagreen;
    border: 5px seagreen solid;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bolder;
    
}

.seemore a{
    text-decoration: none;
    color: white;
}

.aboutkerala {
    display: flex; 
    flex-direction: row-reverse;
    gap: 20px; 
    margin: 20px;
}
.headingkerala{
    display: flex;
    justify-content: right;
    margin: 30px 30px;
    font-size: 35px;
    text-decoration: underline;
    text-decoration-color: seagreen;
    text-underline-offset: 15px;
}

.left-content{
    font-size: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 20px;
    width: 350px;
    max-width: 500px; 
    box-sizing: border-box;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
    margin: 80px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

input {
    padding:20px;
    border: none;
    border-bottom: grey solid 3px;
    width: 100%;
    box-sizing: border-box;

}
select{
    background-color: rgba(174, 178, 177, 0.384);
    padding: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}
button {
    background-color: seagreen;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

.districts{
    background-color: rgb(221, 235, 230);
    text-align: center;
    padding: 20px 0px;
}

.grid1 {
    margin: 40px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px 70px;
    justify-items: center;
    margin-bottom: 30px;
}

.distlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-start; */
}

.distlist img {
    width: 200px;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 300px;
}

.distlist figcaption{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hamburger {
    display: none;
  }


  
/* RESPONSIVE WEBDESIGNING */

@media only screen and (max-width: 950px) {
    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
    }
    .hamburger .line {
        font-size: 25px;
    }
}



@media only screen and (max-width: 1100px) {
    .nav-links a{
        font-size: 20px;
    }
    .welcome{
        font-size: 33px;
        width: 80%;
    }
    .button2{
        font-size: 15px;        
    }
}


@media only screen and (max-width: 1024px) {
    .nav-links a{
        font-size: 18px;
    }
    .welcome{
        font-size: 33px;
        width: 80%;
    }
    .button2{
        font-size: 15px;        
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    .aboutkerala {
        flex-direction: column;
        align-items: center;
        }
    .headingkerala{
        justify-content: start;
        }
    .left-content{
        text-align: justify;
    }
}
@media only screen and (max-width: 768px) {
    .button2{
        font-size: 15px;        
    }
    main{
        height: 500px;
    } 
    .welcome{
        font-size: 30px;
        width: 80%;
    }
    .button2{
        font-size: 10px;
        background-color: seagreen;
        border: 3px solid darkgreen;
        }
    .left-content{
        text-align: justify;
    }
    .aboutkerala {
        flex-direction: column;
        align-items: center;
        }
    .headingkerala{
        justify-content: start;
        
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
}
@media only screen and (max-width: 480px) {
    header{
        img{
            height: 90px;
            width: 120px;
        }
    }
    .welcome{
        font-size: 20px;
        width: 100%;
    }

    .destinations h1{
        font-size: 30px;
    }
    
    .button2{
        font-size: 10px;
        background-color: seagreen;
        border: 3px solid darkgreen;
        }
    main{
        height: 400px;
    } 
    
    .left-content{
        text-align: justify;
    }

    .keralam{
        background-color: rgb(221, 229, 227);
        padding: 20px 0px;
    }

    .aboutkerala {
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 20px; 
        margin: 20px;
    }
    .headingkerala{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 30px;
        font-size: 35px;
    }
    .districts{
        background-color: white;
    }
    .grid1 {
        margin: 20px 0px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px 10px;
    }
}